@model LHLapTrinhWeb.Models.Admin

@{
    ViewData["Title"] = "Đăng Nhập";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card shadow">
                <div class="card-title text-center border-bottom">
                    <h2 class="p-3">Login</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <div class="mb-4">
                            <label for="TenDn" class="form-label">Username/Email</label>
                            <input type="text" asp-for="TenDnadmin" class="form-control" id="TenDn" required />
                            <span asp-validation-for="TenDnadmin" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label for="MatKhau" class="form-label">Password</label>
                            <input type="password" asp-for="MatKhauAdmin" class="form-control" id="MatKhau" required />
                            <span asp-validation-for="MatKhauAdmin" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <input type="checkbox" class="form-check-input" id="remember" />
                            <label for="remember" class="form-label">Remember Me</label>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<a asp-area="" class="d-flex justify-content-center" asp-controller="Khachhang" asp-action="FormLogin" class="text-dark cart me-4">Đăng nhập bằng user</a>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
