<section>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="/image/aboutimg.png" alt="Giới thiệu về sách" />
            </div>
            <div class="col-md-6">
                <h2 class="display-5 fw-bolder">
                    Giới thiệu website bán sách
                </h2>
                <p class="lead">
                    Chào mừng đến với RBOOK, nền tảng trực tuyến chuyên cung cấp thông tin và dịch vụ liên quan đến sách và văn hóa đọc. Trang web của chúng tôi được thiết kế với giao diện thân thiện và dễ sử dụng, giúp người dùng dễ dàng tìm kiếm và khám phá các thể loại sách đa dạng từ các tác giả nổi tiếng. Tại RBOOK, bạn có thể đăng nhập để quản lý tài khoản cá nhân, theo dõi danh sách sách yêu thích và tham gia vào cộng đồng yêu thích đọc sách. Với nhiều tính năng hấp dẫn như tìm kiếm sách theo thể loại, nhà xuất bản và đánh giá sách từ người dùng khác, chúng tôi mong muốn tạo ra một không gian thú vị và bổ ích cho tất cả những ai đam mê văn học. Hãy cùng chúng tôi khám phá thế giới sách phong phú và chia sẻ những trải nghiệm đọc tuyệt vời!
                </p>
            </div>
        </div>
    </div>
</section>
